{{#articleMap}}
<div class="article">
  <div class="article-header">
    <h1>{{title}}</h1>
    <ul class="tools">      
       <li class="time">
         <time datetime="{{dateStringForTimeElement}}">
           <a href="{{articleByDateUrl}}">{{publishedDateStr}}</a>
         </time>
       </li>
       <li class="author">
         By <a href="" class="red-1">{{authorMaps.0.name}}</a>
       </li>
    </ul>
    <figure class="inline-image clearfix ">
      {{#imageMap}}
        <img src="{{url}}" class="" title="{{title}}">
      {{/imageMap}}
      <figcaption>
        <span>{{leadtext}}</span>
      </figcaption>
    </figure>
  </div>
  <div class="article-body">
    {{{bodyRendered}}}
  </div>
</div>
{{/articleMap}}
