<div class="opinion-teaser clearfix">
  <h2 class="section-title">{{title}}</h2>
 {{#each articleMaps}} 
  <div class="entry-wrapper">
    {{#with authorMap}}
    <div class="left-col">
      <figure>
        <img alt="{{name}}" title="{{name}}" src="{{imageMap.url}}">
      </figure>
    </div>
    {{/with}}
    <div class="teaser-content">
      <a href="{{url}}">
        <h3>{{title}}</h3>
        <p>
          <span class="red-1">&#8220;</span>{{intro}}<span class="red-1">&#8221;</span>
        </p>
         <ul class="tools">
            <li class="last">
              <time datetime="{{dateStringFortimeElement}}" data-storiestime="{{dateTimeInMs}}">{{timeAgoString}}</time>
            </li>
        </ul>
      </a>
    </div>
  </div>
 {{/each}}
</div>
