{{#each articleMaps}}
<figure class="inline-image clearfix ">
  <span class="most-read-rank">{{rank}}</span>
  <a href="{{url}}">
    {{#imageMap}}
      <img src="{{url}}" alt="{{alttext}}" title="{{title}}">
    {{/imageMap}}
  </a>
  <figcaption class="main-caption">
    {{intro}}
  </figcaption>
  <div class="fig-container">
    <figcaption class="tag-caption">
      {{#topicMap}}
        {{name}}
      {{/topicMap}}
    </figcaption>
  </div>              
</figure>
{{/each}}
