<div data-role="panel" data-display="push" id="nav-panel">
	<ul class="navigation-list">
	  {{#each items}}
	    <li class="{{#options}} {{customstyleclass}} {{/options}}"><a href="{{url}}">{{#options}} {{linktext}} {{/options}}</a><span class="right-arrow">&rsaquo;</span></li>
	  {{/each}}
	  <li class="last">
	  	<form id="" action="">
	      <i class="icon-search"></i>
	      <input type="" name="" id="search" value="" placeholder="Search...">
	    </form> 
	  </li>   
	</ul>    
</div>
  
<script>
    $(document).ready(function() {
    	$('#search').click(function() {
    		if ($('#search').val() == 'Search...') {
    		  $('#search').val('');	
    		};
    	});
    });
	$( document ).on( "pageinit", "#mirror-page", function() {
	  $( document ).on( "swiperight", "#mirror-page", function( e ) {
	    // We check if there is no open panel on the page because otherwise
	    // a swipe to close the left panel would also open the right panel (and v.v.).
	    // We do this by checking the data that the framework stores on the page element (panel: open).
	    if ( $.mobile.activePage.jqmData( "panel" ) !== "open" ) {
	      if ( e.type === "swiperight"  ) {
	        $( "#nav-panel" ).panel( "open" );
	      }
	    }
	  });
	});
</script>	