<!-- Author-index header MOB-101 -->
{{#with author}}
<div class="author-index-header">
    <figure class="author">
       <a href="{{authorUrl}}"><img src="{{avatarUrl}}" alt="{{name}}" title="{{name}}"></a>
       <figcaption>{{name}}</figcaption>
       <div class="gradient-overlay"></div>
    </figure>
    <div class="author-info">
        {{intro}}
    </div>
    <div class="follow-on">
        {{#each follow}}
          <a href="{{url}}"><span class="label-follow">Follow</span><span class="label-sn red-1"><i class="icon-{{network}} grey-1"></i>&nbsp;{{nick}}</span></a>
        {{/each}}  
    </div>
</div>
{{/with}}
  
<!-- Author-index stories MOB-44 -->
<div class="short-teaser clearfix">
{{#each articleMaps}}
<div class="inner-teaser">
   <figure class="inline-image">
       <a href="{{url}}">
        {{#with imageMap}}
          <img src="{{imageUrl}}" style="{{inpageStyleClass}}" alt="{{alttext}}" title="{{title}}" >
        {{/with}}  
       </a>
   </figure>
   <div class="teaser-content">
       <ul class="tools">
          <li>
             {{#with topicMap}}
                <a href="{{url}}l" class="more">{{name}}</a>
             {{/with}}
          </li>     
          <li class="last">
            <time datetime="{{dateStringForTimeElement}}" data-storiestime="{{dateTimeInMs}}">{{timeAgoString}}&nbsp;ago</time>
          </li>
      </ul>
      <h3 class="teaser-title"><a href="{{url}}">{{title}}</a></h3>
    </div>
 </div>
 {{/each}}
 </div>