<!-- Hot Topics - MIR-4491 -->
<div class="hot-topics clearfix">
  <h2 class="section-title">{{title}}</h2>
  <div class="teaser-content">
    <ul class="tools">
     {{#each topicMaps}}
        <li><a href="{{url}}" class="more">{{caption}}</a></li>
     {{/each}}
    </ul>
   </div> 
</div>