<!-- Navigation Tabs - MOB-57 -->     
<div class="nav-tabs">
  <ul class="tabs clearfix set-4 most-read">
    <li class="active" data-Id="All"><a href="#">All</a></li>
    <li data-Id="News"><a href="#">News</a></li>
    <li data-Id="Sport"><a href="#">Sport</a></li>
    <li class="last" data-Id="Celebs"><a href="#" >Celebs</a></li>
  </ul>     
  <div class="tab-container">
    <div class="tab-content" id="All">
        <!--Content-->
        {{#each mostReadHome.items}}
        <figure class="inline-image clearfix ">
          <span class="most-read-rank">{{rank}}</span>
          <a href="{{url}}"><img src="{{teaserImageUrl}}" alt="{{teaserImageAltText}}" class="" title="{{teaserImageTitle}}"></a>
          <figcaption class="main-caption">
      	    {{leadtext}}
          </figcaption>
          <div class="fig-container">
          	<figcaption class="tag-caption">
      	       {{topicName}}
            </figcaption>
          </div>              
        </figure>
        {{/each}}
    </div>
    <div class="tab-content" id="News">
        <!--Content-->
        {{#each mostReadNews.items}}
        <figure class="inline-image clearfix ">
          <span class="most-read-rank">{{rank}}</span>
          <a href="{{url}}"><img src="{{teaserImageUrl}}" alt="{{teaserImageAltText}}" class="" title="{{teaserImageTitle}}"></a>
          <figcaption class="main-caption">
      	    {{leadtext}}
          </figcaption>
          <div class="fig-container">
          	<figcaption class="tag-caption">
      	       {{topicName}}
            </figcaption>
          </div>              
        </figure>
        {{/each}}
    </div>
    <div class="tab-content" id="Sport">
        <!--Content-->
        {{#each mostReadSport.items}}
        <figure class="inline-image clearfix ">
          <span class="most-read-rank">{{rank}}</span>
          <a href="{{url}}"><img src="{{teaserImageUrl}}" alt="{{teaserImageAltText}}" class="" title="{{teaserImageTitle}}"></a>
          <figcaption class="main-caption">
      	    {{leadtext}}
          </figcaption>
          <div class="fig-container">
          	<figcaption class="tag-caption">
      	       {{topicName}}
            </figcaption>
          </div>              
        </figure>
        {{/each}}
    </div>
    <div class="tab-content" id="Celebs">
        <!--Content-->
        {{#each mostReadCelebs.items}}
        <figure class="inline-image clearfix ">
          <span class="most-read-rank">{{rank}}</span>
          <a href="{{url}}"><img src="{{teaserImageUrl}}" alt="{{teaserImageAltText}}" class="" title="{{teaserImageTitle}}"></a>
          <figcaption class="main-caption">
      	    {{leadtext}}
          </figcaption>
          <div class="fig-container">
          	<figcaption class="tag-caption">
      	       {{topicName}}
            </figcaption>
          </div>              
        </figure>
        {{/each}}        
    </div>
  </div>          
</div><!--// Navigation Tabs --> 
    
<script type="text/javascript">
  $LAB.script("../resources/js/lib/tm.multiTabs.js").wait(function() {
    $(".nav-tabs").tab();
  });
</script> 