<div class="carousel video {{subType}} clearfix">
  <h2 class="section-title">Latest Videos</h2>
  <div class="carousel-wrapper">
    <div class="carousel-border-top"></div>
    <figure class="section-logo">
      {{#if subType}}
        <img src="{{imageBaseUrl}}/{{subType}}-section-logo.png" alt="" title=""/>
      {{/if}}        
    </figure>
    <div id="slider-{{widgetId}}">
      <div class="slider-wrapper">
        {{#each articleMaps}}
          <div class="slide-item clearfix" style="display: block;">
            <div class="slider-videodate-wrapper clearfix">
              <p class="videodate-year">{{dateMonthYear}}</p>
              <h3 class="videodate-day">{{dateDayWeek}}</h3>
            </div>
            <figure class="clearfix">
              <img src="{{videoMainImageUrl}}" alt="{{title}}" title="{{title}}"/>                  
              <div class="video-overlay">
                <a href="{{url}}">
                  <div class="play-button">
                  <img src="{{../imageBaseUrl}}/play-button.png"/>
                  </div>
                </a>
              </div>
            </figure>
            <h2>{{{intro}}}</h2>
          </div>
        {{/each}}
      </div>
      <div id="slide-prev-{{widgetId}}" class="slide-prev slide-nav">
        <span class="icon-arrow-left"/>
      </div>
      <div id="slide-next-{{widgetId}}" class="slide-next slide-nav">
        <span class="icon-arrow-right"/>
      </div>
    </div>
    <div id="slider-nav-{{widgetId}}" class="slider-nav">
      <ul id="slider-nav-position-{{widgetId}}">
        {{#each articleMaps}}
          {{#if isFirst}}
          <li class="slider-nav-on"></li> 
        {{else}}
          <li></li>
        {{/if}}
          {{/each}} 
      </ul>
    </div>
  </div>
</div><!--// Video Carousel -->
    
<script>    
  $LAB.script("{{swipeJsUrl}}").wait(function(){
    var bullets = $('#slider-nav-position-{{widgetId}} li');
    var swipe = new Swipe(document.getElementById('slider-{{widgetId}}'), {
      speed: 400,
      //auto: 3000,
      callback: function(event, index, elem) {
        var i = bullets.length;
        while (i--) {
          bullets[i].className = ' ';
        }
        bullets[index].className = 'slider-nav-on'; 
      }
    });
    $('#slide-prev-{{widgetId}}').click(function(){
      swipe.prev();
    });
    $('#slide-next-{{widgetId}}').click(function(){
      swipe.next();
    });   
    $(window).on('resize',function() {
      setTimeout(function() {
            setNavHeight();
        }, 100);      
    }); 
    var setNavHeight = function() {
      var sliderWrapperHeight = $("#slider-{{widgetId}} .slider-wrapper").innerHeight();   
      var slideItemHeight = $("#slider-{{widgetId}} .slide-item figure").first().innerHeight(); 
      var slideItemPosition = $("#slider-{{widgetId}}] .slide-item figure").first().position(); 
      console.log(sliderWrapperHeight);
      console.log(slideItemPosition);
      console.log(slideItemHeight);
      var slideNavHeight = $("#slider-{{widgetId}} .slide-nav").height();
      console.log(slideNavHeight);
      var totOffset = (slideItemPosition.top) + (slideItemHeight/2) - (slideNavHeight/2);
      console.log(totOffset);
      $("#slider-{{widgetId}}.slide-nav").css('top', totOffset);  
    };
    setNavHeight();
  });     
</script>
