<div class="carousel clearfix">
  <h2 class="section-title">{{title}}</h2>
  <div class="carousel-wrapper">
    <div id="slider-{{widgetId}}">
      <div class="slider-wrapper">
        {{#each articleMaps}}
          <div class="slide-item" style="display: block;">
            <figure>
              <a href="{{url}}">
                {{#with imageMap}}
                  <img src="{{url}}" alt="{{alttext}}" />
                {{/with}}
              </a>
            </figure>
            <h2>{{title}}</h2>
          </div>
        {{/each}}
      </div>
      <div id="slide-prev-{{widgetId}}" class="slide-prev slide-nav">
        <span class="icon-arrow-left"/>
      </div>
      <div id="slide-next-{{widgetId}}" class="slide-next slide-nav">
        <span class="icon-arrow-right"/>
      </div>
    </div>
    <div id="slider-nav-{{widgetId}}" class="slider-nav">
      <ul id="slider-nav-position-{{widgetId}}">
        <li class="slider-nav-on"></li>
        <li></li>
        <li></li>    
      </ul>
    </div>
  </div>
</div>

<script>    
  $LAB.script("{{swipeJsUrl}}").wait(function(){
    var bullets = $('#slider-nav-position-{{widgetId}} li');
    var swipe = new Swipe(document.getElementById('slider-{{widgetId}}'), {
      speed: 400,
      auto: 3000,
      callback: function(event, index, elem) {
        var i = bullets.length;
        while (i--) {
          bullets[i].className = ' ';
        }
        bullets[index].className = 'slider-nav-on'; 
      }
    });
    $('#slide-prev-{{widgetId}}').click(function(){
      swipe.prev();
    });
    $('#slide-next-{{widgetId}}').click(function(){
      swipe.next();
    });
  });     
</script>
