<!-- Prevous/Next Articles - MOB-96 -->
<div class="prev-next-article clearfix">
  <div class="prev-next-content clearfix">
  	{{#article.relatedElements.storyrel.0.summaryFields}}
    <figure class="inline-image clearfix prev">
      <a class="link" href="{{url}}"><h3><span class="icon-arrow-left"></span>PREVIOUS ARTICLE</h3></a>
      <a class="image" href="{{url}}"><img src="{{imageUrl}}" alt="{{imageAltText}}" class="" title="{{imageTitle}}"></a>
      <figcaption>
      	<span>{{topicName}}</span>
      </figcaption>
    </figure>
    {{/article.relatedElements.storyrel.0.summaryFields}}
    {{#article.relatedElements.storyrel.1.summaryFields}}
    <figure class="inline-image clearfix next">
      <a class="link" href="{{url}}"><h3>NEXT ARTICLE<span class="icon-arrow-right"></span></h3></a>
      <a class="image" href="{{url}}"><img src="{{imageUrl}}" alt="{{imageAltText}}" class="" title="{{imageTitle}}"></a>
      <figcaption>
      	<span>{{topicName}}</span>
      </figcaption>
    </figure>
    {{/article.relatedElements.storyrel.1.summaryFields}}
  </div> 
</div>