<!-- Teaser Recommended - MOB-73 -->
<div class="recommended-teaser clearfix">
<h2 class="section-title">{{title}}</h2>
   {{#each articleMaps}}
        {{#if typeTeaser}}
            {{#with articleLeft}} 
               <div class="item-container-left">
               <figure class="inline-image">
                   <a href="{{url}}">
                      {{#with imageMap}}
                        <img src="{{imageUrl}}" alt="{{alttext}}" class="{{inpageStyleClass}}" title="{{title}}">
                      {{/with}}
                   </a>
               </figure>
               <div class="teaser-content">
                   <ul class="tools">
                      <li>
                        {{#with topicMap}}
                          <a href="{{url}}" class="more">{{name}}</a>
                        {{/with}}  
                      </li>     
                      <li class="last">
                        <time datetime="{{dateStringForTimeElement}}" data-storiestime="{{dateTimeInMs}}">{{timeAgoString}}&nbsp;ago</time>
                      </li>
                  </ul>
                  <h3 class="teaser-title"><a href="{{url}}">{{title}}</a></h3>
                </div>
                </div>
            {{/with}}
            {{#with articleRight}}
                <div class="item-container-right">
               <figure class="inline-image">
                   <a href="{{url}}">
                      {{#with imageMap}}
                        <img src="{{imageUrl}}" alt="{{alttext}}" class="{{inpageStyleClass}}" title="{{title}}">
                      {{/with}}
                   </a>
               </figure>
               <div class="teaser-content">
                   <ul class="tools">
                      <li>
                        {{#with topicMap}}
                          <a href="{{url}}" class="more">{{name}}</a>
                        {{/with}}  
                      </li>     
                      <li class="last">
                        <time datetime="{{dateStringForTimeElement}}" data-storiestime="{{dateTimeInMs}}">{{timeAgoString}}&nbsp;ago</time>
                      </li>
                  </ul>
                  <h3 class="teaser-title"><a href="{{url}}">{{title}}</a></h3>
                </div>
                </div>
            {{/with}}  
        {{/if}}
        {{#if typePanel}}
           <div class="buttons-panel clearfix">
             <a href="#popupRecommended" data-role="button" data-rel="popup">Improve these suggestions</a>
            </div>
        {{/if}}
        <div class="row-clear"></div>
   {{/each}}
</div><!-- /Teaser Recommended -->