<!-- Small Teaser - MIR-4487 -->
    <div class="short-teaser clearfix">
      <div class="inner-teaser">
           <figure class="inline-image">
               <a href="{{url}}"><img src="{{imageUrl}}" alt="{{imageAltText}}"></a>
           </figure>
           <div class="teaser-content">
               <ul class="tools">
                  <li>
                    <a href="{{topicUrl}}" class="more">{{topicName}}</a>
                  </li>     
                  <li class="last">
                    <time datetime="{{pubDate}}">{{pubDate}}</time>
                  </li>
              </ul>
              <h3 class="teaser-title"><a href="{{url}}">{{title}}</a></h3>
            </div>
         </div>      
    </div> 
<!-- /Small Teaser -->